/*
  react-evolutility : common
*/

/* --- classes shared by most views --- */

.evol-body{
  padding:2px 20px 10px;
}

.evo-page-title{
  margin: 0 10px 10px 10px;
  width: 100%;
  height: 40px;
  @include ellipsis();
}

.w-100{
  width:100%
}
.w-62{
  width:62%
}
.w-38{
  width:38%
}

.grey{
	color: silver;
}
.evo-home {
	padding: 30px;
	> h1{
		padding:2px 0;
		margin: -40px 10px 20px 0;
	}
  .block2{
    padding: 0 5px;
    width:50%;
    float:left;
  }
}

.clearer{
  clear:both;
}

.ReactModal__Overlay{
  z-index: 110;
}
