body {
	font-size: $text-font-size;
}
.evol-fld{
	input, textarea, select{
		font-size: $text-font-size;
	}
}
h1, h2 {
	font-weight: 300;
}


[data-entity="comics"] {
	.evol-cards-body > div{
		height: 460px;
	}
}
[data-entity="contact"] .evol-cards-body>div{
	height: 143px;
}
[data-entity="todo"] .evol-cards-body>div {
	height: 152px;
}
}

