/*
  react-evolutility : many-cards
*/

.evol-cards-body {
  > .panel {
    float:left;
    position: relative;
    height:182px;
    width:240px;
    margin: 5px;
    padding:2px 10px 10px;
    @include border-radius(10px);
    overflow: auto;

    >div{
      >h4{
        margin-bottom: 12px;
      }
      >label{
        width: $golden-ratio-small;
        @include ellipsis();
        vertical-align: top;
      }
      >div{
        display: inline-block;
        padding-right:5px;
        width: $golden-ratio-big;
        vertical-align: top;
        >a{
          display: inline-block;
          @include ellipsis();
          width: 100%;
        }
      }
    }
  }
}
