/*
  react-evolutility : many
*/

.evol-r-align{
  text-align: right;
}
.evol-many-icon{
	position: relative;
	top:-2px;
	margin-right: 6px !important;
}
/* 
.badge-list{
  position: relative;
  top:-2px;
  margin-left:5px;
}
*/
