/*
  react-evolutility : many
*/

.evol-r-align{
  text-align: right;
}
/* 
.badge-list{
  position: relative;
  top:-2px;
  margin-left:5px;
}

.panel-heading {

  > .evol-title-toggle{
    display: none;
  }
  &:hover > .evol-title-toggle{
    display: inline;
  }

}

.list-td-sel{
  width:30px;
}

.evo-col-pix{
  width: 100px;
}
*/