/*
  react-evolutility : many-list
*/

.evol-many-list{

  > div {
    overflow-x: auto;
    overflow-y: hidden;
    > .table{
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      margin-bottom: 0;
      textarea{
        min-width:200px;
      }
      img{
        max-height: 60px;
        padding:0;
      }
      td{
        position: relative;
      }
      th{
        cursor: pointer;
        position: relative;
        font-weight: $weight-label !important;
        background-color: $toolbar-background-color;
        &:hover{
          color: #0099cc;
        }
        i{
          position: absolute;
          right: 5px;
          top: 12px;
          color: $color-border;
        }
      }
    }
  }

}
