/*
  react-evolutility : many
*/

.evol-r-align{
  text-align: right;
}
.evol-many-icon{
	position: relative;
	top:-2px;
	margin-right: 6px !important;
}

.evo-badge{
	color: #aaa !important;
	margin-left: 10px;
	font-size: 16px;
	color: black;
	margin-left: 20px;

	//&:before{content:"( "}
	//&:after{content:" )"}
}
