/*
  react-evolutility : topnav
*/

.TopNav{
	background-color: #2072a7;
	color: white;
	position: fixed;
	padding:0 10px;
	top:0;
	left:0;
	width:100%;
	z-index: 1000;
}
.TopNavComplement{
	display: block;
	height: 130px;
}
.evol-entity{
	margin-left: 20px;
	color: #ffc107;
}
.RightNav{
	padding: 20px 10px;
}
.RightNav a{
	color: white;
}
.RightNav a.active{
	color: #ffc107;
}
.clearer{
	clear:both;
}

.formButtons {
	padding: 10px 0;
}
.formButtons > * {
	margin-left: 10px;
}

.evo-filters{
	color: #333;
}
.evo-filters.panel{
	padding:6px 1px 1px 6px !important;
}

