/*
  evolutility-ui-react : topnav
*/

.TopNav{
	background-color: $color-background-nav;
	color: white;
	position: fixed;
	top:0;
	left:0;
	min-height:60px;
	min-width: 500px;
	width:100%;
	z-index: 100;
	> h2{
		position: absolute;
		top: 14px;
		right:20px;
		margin: 0;
		a{
			font-weight: 400;
			text-decoration: none;
			color: #80DEEA;
			transition: all 0.4s ease;
			&:hover{
				color: $color-nav-active;
			}
		}
	}
	a.active{
		color: $color-nav-active;
		//font-size: 1.2em;
	}
}
.TopNavComplement{
	display: block;
	height: 95px;
}
