$text-font-size: 16px;

// base
$color-text: #0d0d0d;
$color-title: #428bca;
$color-cool:#92cddc;
$color-disabled:silver;

$color-border: silver;

$color-red: #b94a48;

// responsive design
$screen1: 500px;
$screen2: 900px;

// golden ratio
$golden-ratio-big: 62%;
$golden-ratio-small: 38%;

// top nav bar including toolbar
$color-background-nav: #00ACC1;
$color-nav: #E0F7FA;
$color-nav-hover: #FFE0B2;
$color-nav-active: #FFCC80;//#E0F7FA;
$color-icon: #31708f;
$color-icon-hover: #428bca;
$color-icon-background-hover: #ECEFF1;

$toolbar-background-color: #fbfbfb;
$toolbar-border-color: #bce8f1;

// labels
$weight-label: 500;

// footer
$color-text-footer: silver;

// mixins
@mixin border-radius($r){
	border-radius: $r;
	-moz-border-radius: $r;
	-webkit-border-radius: $r;
}
@mixin flex-holder(){
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	flex-wrap: wrap;
}
@mixin flex-item(){
	box-sizing: border-box;
	flex-grow: 1;
}

@mixin panel-top-bar(){
	width:100%;
	padding: 8px;
	//border-bottom: solid 1px $toolbar-border-color;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: $toolbar-background-color;
	> select{
		display: inline-block;
		width: auto;
	}
	>label{
		margin: 2px 10px;
		&:first-child{
			margin-left: 0;
		}
	}
}

@mixin ellipsis(){
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
