
.alert{
	>i{
		font-size: 18px;
		margin: 0 10px 10px 0;
	}
	>strong{
		font-size: 18px;
	}
}

.evol-remove{
	margin-top: 5px;
	i{
		position: relative;
		top: 2px;
		color: $color-red;
		margin-right: 5px;
	}
}

.form-control{
	padding: 6px;
}

.panel{
	border-radius: 2px !important;
}
