@import "../../../../variables";

.evol-many-list {
  .align-right {
    text-align: right;
  }
  > div {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .table {
    margin-bottom: 0;
    th {
      position: sticky;
      top: 49px;
      z-index: 2;
      white-space: nowrap;
      transition: border-color $ease-time;
      &:first-child {
        min-width: 100px;
      }
      svg {
        position: relative;
        top: 2px;
        fill: $color-almostblack;
        height: $icon-size;
        width: $icon-size;
      }
    }
    td {
      position: relative;
    }
    img {
      max-height: 60px;
      padding: 0;
    }
  }
  .sortable {
    th {
      cursor: pointer;
      &:hover {
        color: $color-icon-hover;
        border-bottom-color: grey;
      }
    }
  }
  .td-check {
    padding-top: 0;
    padding-bottom: 0;
    > svg {
      height: $icon-size;
      width: $icon-size;
    }
  }
  .td-url {
    max-width: 200px;
    > a {
      word-wrap: break-word;
    }
  }
}
