/*
  evolutility-ui-react : many-charts
*/
@import "../../../../variables";

$chart-gap: 5px;

.evol-many-charts {
  width: 100%;
  @include flex-holder();
  gap: $gap;
  > .chart-card {
    @include flex-item();
    width: 400px;
  }
}

.chart-card {
  position: relative;
  text-align: center;
  background-color: $bgcolor-background;
  min-height: 300px;
  &.size-tiny {
    // width: 280px !important;
    height: 300px;
    .chart-content > h2 {
      font-size: 1em;
      padding-left: 0;
    }
    // .i-chart {
    //   position: relative;
    //   top: -30px;
    //   left: -10px;
    //   width: 300px;
    // }
  }
  &.small {
    min-height: 200px;
  }
  &.size-large {
    width: 100%;
    .i-chart {
      height: 500px;
    }
    /*
		@media only screen and (max-width: 700px) {
			.i-chart{
				height: 400px;
			}
		}*/
  }
  &.hidden-chart {
    display: none;
  }
}
.chart-content {
  position: relative;
  border: 1px solid white;
  overflow: hidden;
  min-height: 100%;
  border-radius: $radius;
  > h2 {
    display: block;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
    padding: 10px 40px 30px;
    margin-right: 70px;
    @include ellipsis();
  }
  > i {
    position: relative;
    top: 50px;
  }
  > .i-chart {
    padding: 0 10px;
    height: 300px;
    min-height: 100px;
  }
  > .alert {
    // no data in charts
    margin: 50px 10px 10px 10px;
    text-align: left;
  }
}

.single-chart {
  display: block;
  padding: 0 5px 20px;
  .chart-actions-left,
  .chart-actions-right {
    top: $chart-gap;
  }
}
.chart-actions-left,
.chart-actions-right {
  position: absolute;
  top: 1px;
  @include icons-actions();
  > i {
    border: solid 1px transparent;
    &.active {
      cursor: default !important;
      border-color: $color-icon-active;
      > svg {
        fill: $color-almostblack !important;
      }
    }
    > svg {
      fill: $color-icon !important;
    }
  }
}
.chart-actions-left {
  left: $chart-gap;
}
.chart-actions-right {
  right: $chart-gap;
}
.charts-stats {
  margin-top: 20px;
  i {
    margin-right: $chart-gap;
  }
}

// hack: white block to hide group label
.label-patch {
  position: absolute;
  bottom: 40px;
  right: 22px;
  background-color: white;
  height: 30px;
  width: 100px;
}
