@import "variables";

.ovw-hist {
  position: relative;
  padding: 0 20px 20px;
  h4 {
    position: relative;
    left: -10px;
    top: -5px;
    font-weight: bold;
    margin-bottom: 20px;
    > a > i {
      position: relative;
      top: 5px;
    }
  }
  > span {
    display: block;
    margin-bottom: 10px;
  }
}
.ovw-hist-list > a {
  display: inline-block;
  min-width: 140px;
  width: 40%;
  margin-right: 20px;
  @include ellipsis();
  > img {
    margin-right: 6px;
  }
}
