@import "../../../../variables";

.evol-overview {
  .panel {
    margin-bottom: 10px;
  }
  .ovw-actions {
    width: 100%;
    @include flex-holder();
    gap: $gap;
    > div {
      flex: 1 1 0px;
      flex-grow: 1;
      display: inline-block;
      margin-right: 20px;
      > a {
        display: block;
        > i {
          position: relative;
          top: 6px;
        }
      }
    }
  }
  .ovw-chart {
    position: relative;
    min-width: 400px;
    select {
      position: absolute;
      top: 10px;
      left: 15px;
      width: auto;
    }
  }
  .ovw-hist {
    position: relative;
    padding: 0 20px 20px;
    h4 {
      position: relative;
      left: -10px;
      top: -5px;
      font-weight: bold;
      margin-bottom: 20px;
      > a > i {
        position: relative;
        top: 5px;
      }
    }
    > span {
      display: block;
      margin-bottom: 10px;
    }
  }
  .ovw-hist-list > a {
    display: inline-block;
    min-width: 140px;
    width: 40%;
    margin-right: 20px;
    @include ellipsis();
    > img {
      margin-right: 6px;
    }
  }
}
