@import "../../../../variables";

.evol-overview {
  .evo-search-box {
    margin: 20px 10px 20px 0;
    width: 200px;
  }
  .panel {
    margin-bottom: 10px;
  }
  .ovw-actions {
    margin-bottom: 20px;
    width: 100%;
    @include flex-holder();
    gap: $gap;
    > div {
      flex: 1 1 0px;
      flex-grow: 1;
      display: inline-block;
      margin-right: 20px;
      > a {
        display: block;
        > i {
          position: relative;
          top: 6px;
        }
      }
    }
  }
  .ovw-chart {
    position: relative;
    min-width: 400px;
    select {
      position: absolute;
      top: 10px;
      left: 15px;
      width: auto;
    }
  }
}
