@import "variables";

.evo-search-box {
  > div {
    display: flex;
    width: 140px;
    > button {
      position: relative;
      height: 38px;
      width: 40px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0 5px;
      border-left: none;
      > svg {
        height: 24px;
        width: 24px;
      }
    }
  }
}
