@import '../variables';

.evo-page-header{
	position: relative;
	display: block;
	width: 100%;
	margin: 5px 0 30px;
	.page-title {
		width: 100%;
		height: 40px;
		@include ellipsis();
	}
	.hIcons {
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		background-color: $background-color;
		>a {
			display: inline-block;
		}
		a > .crud-icon > svg {
			fill: $color-icon;
		}
		a.active > .crud-icon > svg {
			fill: black;
		}
		a:hover{
			.crud-icon > svg {
				fill: $color-icon-hover;
			}
		}
		
		@media (max-width: 600px) {
			display: none !important;
		}
	}
}
