@import "../../variables";

.evo-page-header {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 0 30px;
  .page-title {
    width: 100%;
    width: calc(100% - 90px);
    min-height: 40px;
    @include ellipsis();
    .evo-badge {
      position: relative;
      top: -4px;
      display: inline-block;
      height: 28px;
      min-width: 28px;
      background-color: $bgcolor-badge;
      padding: 5px;
      border-radius: 50%;
      font-size: 14px;
      font-weight: 400;
      margin: 0 20px 0 10px;
      text-align: center;
    }
    .h-txt {
      font-size: 16px;
      font-weight: normal;
    }
  }
  .hIcons {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    > a {
      display: inline-block;
    }
    a {
      > .crud-icon {
        border: solid 1px transparent;
        > svg {
          fill: $color-icon;
        }
      }
      &.active > .crud-icon {
        border-color: $color-icon-active;
        cursor: default !important;
        > svg {
          fill: $color-text;
        }
      }
      &:hover {
        .crud-icon > svg {
          fill: $color-icon-hover;
        }
      }
    }
  }

  @media (max-width: $media-small) {
    .hIcons {
      display: none !important;
    }
    .page-title {
      width: 100%;
    }
  }
}
