@import "../../variables";

.TopBar {
  z-index: 101;
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  background-color: $almostblack-color;
  height: 50px;
  padding: 20px;
  color: $almostwhite-color;

  .github {
    position: absolute;
    right: 10px;
    top: 10px;
    > svg {
      fill: $bgcolor-background;
    }
    &:hover {
      > svg {
        fill: orange;
      }
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
  > .views {
    top: 2px;
    left: 160px !important;
  }
  .pos-right {
    position: absolute;
    top: 4px;
    right: 5px;
    @media only screen and (max-width: 650px) {
      display: none;
    }
  }
  .navlinks {
    min-width: 280px;
  }
}

.evo-logo {
  position: absolute;
  left: 14px;
  top: 7px;
}
