@import '../variables';

.TopBar {
  z-index: 100;
  position: fixed;
  top:0;
  width:100%;
  background-color: $almostblack-color;
  height: 50px;
  padding: 20px;
  color: $almostwhite-color
}

.tbLogo{
  position: absolute;
  left: 7px;
  top: 7px;
}
