@import '../variables';

.TopBar {
  z-index: 101;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $almostblack-color;
  height: 50px;
  padding: 20px;
  color: $almostwhite-color;

  > .views{
    top: 2px;
    left: 150px !important;
  }
  .pos-right {
    position: absolute;
    top: 4px;
    right: 5px;
    @media only screen and (max-width: 650px) {
        display: none; 
    }
  }
  .navlinks {
    min-width: 280px;
  }
  >iframe{
    right: 5px;
    top: 15px;
    position: absolute;
    @media only screen and (max-width: 800px) {
        display: none; 
    }
  }
}

.tbLogo{
  position: absolute;
  left: 7px;
  top: 7px;
}
