@import "variables";

.panel {
  background-color: $bgcolor-background;
  border: $border;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: $radius;
  &.collapsed {
    .panel-heading {
      border-radius: $radius !important;
    }
    fieldset {
      display: none;
    }
  }
}
.panel-heading {
  position: relative;
  border-radius: $radius $radius 0 0;
  padding: 10px 15px;
  border-bottom: $border;
  background-color: $bgcolor-panel-header;
  svg {
    position: absolute;
    top: 8px;
    right: 5px;
    cursor: pointer;
    height: 26px;
    width: 26px;
    fill: $color-icon;
    &:hover {
      fill: $color-icon-hover;
    }
  }
}
.panel-title {
  display: inline-block;
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
}
.panel-header,
.panel-footer {
  padding: 10px 15px;
  background-color: $bgcolor-panel-footer;
}
.panel-header {
  border-bottom: $border;
}
.panel-footer {
  position: relative;
  top: -10px;
  border-top: $border;
  border-radius: 0 0 $radius $radius;
}
