// copied and modified from bootstrap-sass v3.4.1

@import "variables";

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  // white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: $text-font-size;
  border-radius: 20px;
  padding: 7px 20px;
  line-height: 1.428571429;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  > svg {
    position: relative;
    top: 2px;
    height: $icon-size;
    margin-right: 10px;
  }
  &:hover,
  &:focus {
    color: #333;
    text-decoration: none;
  }
  &:active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  box-shadow: none;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  > svg {
    fill: #333 !important;
  }
  &:focus,
  &:hover,
  &:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }
}
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-primary {
  color: #fff;
  background-color: $color-btn-primary;
  border-color: $color-btn-primary-border;
  > svg {
    fill: #fff;
  }
  &:focus,
  &:hover,
  &:active {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
  }
}
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus {
  background-color: $color-btn-primary;
  border-color: #2e6da4;
}
