/*
  evolutility-ui-react : field
*/

@import '../variables';

.form-control {
	padding: 6px;
}

.evol-fld {
    @include flex-item();
    padding-left: $field-h-spacing !important;
    margin-bottom: 12px;
    min-width: 62px;
    
    .evo-rdonly {
          // todo: use or remove line below?
          // border-bottom: 1px solid silver;
      > img {
        position: relative;
        top: -2px;
        margin-right: 3px;
      }
    }
    >div{
      width: 100%;
    }
    > .text-danger {
        margin-bottom: 0 !important;
    }
    .img-thumbnail {
      padding: 0 !important;
    }

}
.evol-field-label {
  > label {
    color:$color-label !important;
    font-weight: normal;
    font-size: .8em;

    > .glyphicon-question-sign{
      cursor: pointer;
      padding-left: 4px;
      color: silver;

      &:hover{
        color:$color-icon-hover;
      }
    }
  }
}

.evol-required,
.evol-asterix {
    margin-left:3px;
    font-weight:bold;
}
.evol-required{
  color: $color-red;
}
.evol-asterix {
  color:#0099cc;
}
.evo-rdonly {
  min-height: 32px;
  padding-top: 5px;
  >a{
    display: block;
    @include ellipsis();
  }
}
.lovicon{
  margin-right: 5px;
}
.evol-remove {
	margin-top: 5px;
	i {
		position: relative;
		top: 2px;
		color: $color-red;
		margin-right: 5px;
	}
}

.pixdrop {
  margin-top:7px;
  width:100%;
  min-height:100px;
  border:2px dashed silver;
  padding:10px;
  > p {
    font-style: italic;
    font-size: .9em;
  }
}

/* https://github.com/Hacker0x01/react-datepicker/issues/624 */
.react-datepicker {
  font-size: 0.8em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}
