@import "../../variables";

.evo-pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 5px;
  color: $color-btn-primary;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 32px;
    min-width: 32px;
    border: $border;
    padding: 6px;
    cursor: pointer;
    &:hover,
    &:focus {
      color: #23527c;
      background-color: #eee;
      border-color: #ddd;
    }
    &.active,
    &.active :hover,
    &.active :focus {
      color: #fff;
      cursor: default;
      background-color: $color-btn-primary;
      border-color: $color-btn-primary;
    }
    &.disabled,
    &.disabled :hover,
    &.disabled :focus {
      color: #777;
      cursor: not-allowed;
      background-color: #fff;
      border: none;
      padding: 6px 0;
      min-width: 12px;
      cursor: auto;
    }
    &.w-border {
      border: $border;
      min-width: 32px;
    }
  }
}
