@import '../variables';

.panel-heading { // panel-heading from Bootstrap
    position: relative;
    >.panel-title{ // panel-title from Bootstrap
      display: inline-block;
    }
  //  >.evol-subtitle{
  //    display: inline-block;
  //    margin-left:.4em;
  //  }
}

.panel{
  border-radius: 2px !important;
  div.panel-footer {
    background-color: $color-panel-footer;
  }
}

.evo-panel-help{
    margin-top:5px;
}

