@import '../variables';

.panel-heading { // panel-heading from Bootstrap
    position: relative;
    > .panel-title { // panel-title from Bootstrap
      display: inline-block;
      font-weight: 400;
      font-size: 1.2em;
    }
  //  >.evol-subtitle{
  //    display: inline-block;
  //    margin-left:.4em;
  //  }

  svg {
    position: absolute;
    top: 8px;
    right: 5px;
    cursor: pointer;
    height: 26px;
    width: 26px;
    fill: $color-icon;
    &:hover {
        fill: $color-icon-hover;
    }
  }
}

.panel{
  border-radius: 2px !important;
  div.panel-header,
  div.panel-footer {
    background-color: $bgcolor-panel-footer;
  }
}

.evo-panel-help{
    margin-top:5px;
}

.panel-default > .panel-heading {
  background-color: $bgcolor-panel-header !important;
}
