@import "../variables";

.evo-range {
  position: relative;
  display: block;
  height: 38px;
  width: 200px;
  > div {
    position: absolute;
    top: 5px;
    height: 10px;
  }
  .range-line {
    top: 3px;
    height: 20px;
    width: 100%;
    border-left: 4px solid black;
    border-right: 4px solid black;
    > div {
      position: absolute;
      top: 9px;
      height: 2px;
      width: 100%;
      background-color: silver;
    }
  }
  .range-avg {
    position: absolute;
    top: 5px;
    height: 16px;
    width: 8px;
    border-radius: 3px;
    background: #0277bd;
    > div {
      position: relative;
      top: 16px;
      left: -5px;
    }
  }
}
