/*
  evolutility-ui-react : toolbar
*/

@import "../variables";

.evo-toolbar {
  position: fixed;
  top: -1px;
  left: 420px;
  z-index: 110;
  &[role="navigation"] {
    margin-top: 3px;
  }
  .crud-icon > div {
    white-space: nowrap;
  }
  .searchbox {
    position: relative;
    top: -6px;
    display: inline-block;
  }
}

/* bootstrap override */
.dropdown-menu > li > a {
  padding: 3px 10px;
}

.evo-filter-on {
  background-color: #e0f2f1;
}
@media only screen and (max-width: 780px) {
  .evo-nav-pills > li > .fakeLink > span,
  .evo-nav-pills > li > a > span {
    display: none;
  }
}
