.evo-demo {
  .component > h3  {
    > img {
      margin-right: 8px;
    }
    > i {
      position: relative;
      top: 4px;
      margin-right: 15px;
    }
  }
  .demoLinks{
    line-height: 26px;
    margin-left: 10px;
    > a {
          margin-bottom: 4px;
          > img {
              margin-right: 10px;
          }
      }
    }
    .cSet{
      padding-left: 10px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      > div {
        box-sizing: border-box;
        padding: 0 10px;
        flex-grow: 1;
        margin: 10px 10px 10px 5px;
        width: 30%;
        min-width: 200px;
      }
    }
}