.row-2-cols {
  display:flex;
  gap: 20px;
  > div {
    flex-basis: 50%;
  }
}
.pros-cons {
  margin-top: 20px;
  display:flex;
  gap: 10px;
  > div {
    flex-grow: 0;
    width: 50px;
  }
  > ul {
    flex-grow: 1;
  }

}