
.evo-home {
    section {
      margin-top: 40px;
      > div:first-child{
        margin-bottom: 20px;
      }
    }
    iframe{
      height: 20px;
      width: 100px;
      position: relative;
      top: 4px;
      margin-left: 10px;
    }
    h2 > .cpnSvg{
      position: relative;
      top: -3px;
      margin-right: 10px;
      height: 30px;
      width: 30px;
    }
    .comp {
      h2{
        margin-bottom: 30px;
      }
      h3{
        margin-top:0;
      }
    }
    .siteTitle{
      color: #2E9EC9;
      font-size: 80px;
      padding: 2px 0;
      margin: 0 10px 20px 0;
    }
    .tBlue {
      color: #2E9EC9;
    }
    .w100{
      width:100%;
    }
}
  