@import "../variables";

.err404 {
  position: relative;
  // background-color: blue;
}

.center404 {
  position: relative;
  margin: 40px;
  text-align: center;
}
.center404 > p {
  margin: 10px;
}
.circles404 {
  position: relative;
  display: block;
  margin: 50px auto 10px;
  height: 440px;
  width: 600px;
}
.circles404 p {
  position: absolute;
  top: 160px;
  z-index: 50;
}
.left404,
.spot404,
.right404 {
  position: absolute;
  color: white;
  border-radius: 50%;
  width: 400px;
  height: 400px;
}
.left404 {
  left: 0;
  overflow: hidden;
  background-color: #33ccff;
  z-index: 20;
}
.spot404 {
  background: #1a99cc;
  top: 0;
  right: -50%;
}
.right404 {
  background-color: #006699;
  left: 200px;
  z-index: 10;
}
.left404 > p {
  left: 55px;
}
.spot404 > p {
  top: 145px;
  left: 40px;
  font-size: 1.4em;
}
.right404 > p {
  right: 30px;
}
@media only screen and (max-width: 700px) {
  .circles404 {
    display: none;
  }
}
