.evo-home {
	padding: 30px;
  
  .component {
    margin: 30px 0;
  }
  .siteTitle{
    color: #2E9EC9;
    font-size: 80px;
		padding: 2px 0;
		margin: 0 10px 20px 0;
  }
  .tBlue {
    color: #2E9EC9;
  }
  .block2{
    padding: 0 5px;
    width:50%;
    float:left;
  }
  .apps-icons > a {
    margin-right: 10px;
  }
}