@import "variables";

$color-hover: blue;

.pretty-json {
  background-color: #f5f5f5;
  border: 1px solid silver;
  padding: 10px 10px 10px 30px;
  border-radius: 5px;
  .tab {
    position: relative;
    margin-left: 20px;
  }
  .key {
    color: #548dd4;
  }
  .dots {
    margin: 0 4px;
    cursor: pointer;
    &:hover {
      color: $color-hover;
    }
  }
  .obj {
    position: relative;
  }
  .num {
    color: #009933;
  }
  .string {
    color: #e36c09;
  }
  .bool {
    color: blue;
  }
  .func {
    color: #9933ff;
  }
  .icoco {
    position: absolute;
    top: 3px;
    left: -20px;
    height: $icon-size;
    cursor: pointer;
    svg {
      width: $icon-size;
      height: $icon-size;
      border: 1px solid silver;
      border-radius: 2px;
      background-color: $color-almostwhite;
      &:hover {
        fill: $color-hover;
        border-color: $color-hover;
      }
    }
    &.up > svg {
      transform: rotate(90deg);
    }
  }
}
