/*
  evolutility-ui-react : many-charts
*/
@import '../../variables';

.evol-many-charts{
	width: 100%;
	@include flex-holder();
	> .evol-chart-holder{
		@include flex-item();
		position: relative;
		text-align: center;
		background-color :#FFFFFF;
		margin:10px 10px 10px 5px;
		width: 400px;
		min-height:286px;
	}
}
.evol-chart-holder{

	&.size-full{
		width: 100%;
		.i-chart{
			height: 600px;
		}
		/*
		@media only screen and (max-width: 700px) {
			.i-chart{
				height: 400px;
			}
		}*/
	}
}
.chart-holder{
	> h3{
		display: block;
		font-weight: 400;
		font-size: 1.2em;
		text-align: center;
		padding: 10px 20px 30px;
	}
	> i{
		position: relative;
		top: 50px;
	}
	> .i-chart{
		padding: 0 10px;
		height: 300px;
		min-width: 300px;
		min-height: 100px;
	}
	.alert {
		text-align: left;
		margin: 0 10px;
	}
	#Resize {
		margin-left: 8px;
	}
}

.singleChart{
	padding: 10px 5px 20px;
}
.chart-actions{
	@include icons-actions();
}
.charts-stats{
	margin-top: 20px;
	i {
		margin-right: 5px;
	}
}

.nbc1{
	.evol-chart-holder{
		min-width: 610px;
	}
}

// no data in charts
.chart-holder > .alert {
	margin-top: 50px;
}