/*
  evolutility-ui-react : many-charts
*/
@import "../../../variables";

.evol-many-charts {
  width: 100%;
  @include flex-holder();
  gap: $gap;
  > .chart-card {
    @include flex-item();
    width: 400px;
  }
}

.chart-card {
  position: relative;
  text-align: center;
  background-color: white;
  min-height: 300px;
  &.size-tiny {
    // width: 280px !important;
    height: 300px;
    .chart-content > h3 {
      font-size: 1em;
      padding-left: 0;
    }
    // .i-chart {
    //   position: relative;
    //   top: -30px;
    //   left: -10px;
    //   width: 300px;
    // }
  }
  &small {
    min-height: 200px;
  }
  &.size-large {
    width: 100%;
    .i-chart {
      height: 500px;
    }
    /*
		@media only screen and (max-width: 700px) {
			.i-chart{
				height: 400px;
			}
		}*/
  }
  &.hidden-chart {
    display: none;
  }
}
.chart-content {
  position: relative;
  border: 1px solid white;
  overflow: hidden;
  min-height: 100%;
  border-radius: $radius;
  > h3 {
    display: block;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
    padding: 10px 40px 30px;
    margin-right: 70px;
    @include ellipsis();
  }
  > i {
    position: relative;
    top: 50px;
  }
  > .i-chart {
    padding: 0 10px;
    height: 300px;
    min-height: 100px;
  }
  i[data-id="Resize"] {
    margin-left: 8px;
  }
}

.single-chart {
  display: block;
  padding: 0 5px 20px;
  .chart-actions-left,
  .chart-actions-right {
    top: 5px;
  }
}
.chart-actions-left,
.chart-actions-right {
  position: absolute;
  top: 1px;
  @include icons-actions();
  > i {
    border: solid 1px transparent;
    &.active {
      cursor: default !important;
      border-color: $color-icon-active;
      > svg {
        fill: black !important;
      }
    }
    > svg {
      fill: $color-icon !important;
    }
  }
}
.chart-actions-left {
  left: 5px;
}
.chart-actions-right {
  right: 5px;
}
.charts-stats {
  margin-top: 20px;
  i {
    margin-right: 5px;
  }
}
// no data in charts
.chart-content > .alert {
  margin: 50px 10px 10px 10px;
  text-align: left;
}
