/*
  evolutility-ui-react : toolbar
*/

@import "../../../variables";

.evo-toolbar {
  position: fixed;
  top: -1px;
  left: 500px;
  z-index: 110;
  &[role="toolbar"] {
    margin-top: 3px;
    margin-left: 50px;
  }
  .crud-icon > div {
    white-space: nowrap;
  }
}
