@import "../../variables";

.form-control {
  padding: 6px;
}
.scroll-y {
  overflow-y: scroll;
}
.evol-fld {
  position: relative;
  @include flex-item();
  padding-left: $field-h-spacing !important;
  margin-bottom: 12px;
  min-width: 62px;
  input,
  textarea,
  select {
    font-size: $text-font-size;
  }
  .filename {
    margin: 10px 0;
    > span {
      color: $color-text-secondary;
      white-space: nowrap;
    }
  }
  .evo-rdonly {
    > img {
      position: relative;
      top: -2px;
      margin-right: 3px;
    }
    > pre {
      margin-top: 0;
      padding: 5px;
      font-size: 12px;
      background-color: #f5f5f5;
      border: solid 1px silver;
      border-radius: 5px;
      min-height: 38px;
    }
  }
  > div {
    width: 100%;
  }

  input[type="time"] {
    display: inline-block;
    width: 150px;
  }
  textarea {
    max-width: 100%;
    resize: vertical;
  }
  .react-datepicker-wrapper {
    display: inline;
  }
}
.evo-fld-invalid {
  display: inline-block;
  border-radius: 2px;
  font-size: 12px;
  clear: both;
  background-color: #f2dede;
  color: #a94442;
  border: solid 1px #ebccd1;
  padding: 4px 5px 4px 10px;
  margin: 5px 5px 0 0;
  border-radius: $radius;
}

.evo-rdonly {
  min-height: 38px;
  padding-top: 5px;
  > a {
    display: block;
    @include ellipsis();
  }
}
div > .checkbox {
  position: relative;
  top: -7px;
  height: $icon-size;
  width: $icon-size;
}
.lov-icon {
  margin-right: 5px;
}
.btn-remove {
  margin: 5px 5px 0 0;
  svg {
    position: relative;
    top: 2px;
    height: $icon-size;
    margin-right: 5px;
  }
}
.evo-color-box {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: $border;
  span {
    margin-left: 24px;
  }
}
.lov-wicon {
  > img {
    margin-right: 5px;
  }
}
.doc-drop {
  margin-top: 7px;
  width: 100%;
  min-height: 100px;
  border: 2px dashed $color-border;
  border-radius: 5px;
  padding: 10px;
  > p {
    font-style: italic;
    font-size: 0.9em;
  }
}

.react-datepicker__navigation {
  top: 3px !important;
  border: none !important;
}
/* https://github.com/Hacker0x01/react-datepicker/issues/624 */
.react-datepicker {
  font-size: 0.8em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}

.rc-tooltip,
.rc-tooltip-inner {
  max-width: 180px;
  border-radius: 10px !important;
}
