/*
  evolutility-ui-react : field
*/

@import "../../variables";

.evol-field-label {
  > label {
    color: $color-label;
    &::after {
      content: ":";
    }
    svg {
      cursor: pointer;
      margin: 0 5px;
      height: 14px;
      width: 14px;
      margin-right: 0;
      fill: $color-help-icon;
      transition: fill 0.2s ease 0.2s;
    }
    &:hover {
      svg {
        fill: $color-icon-hover;
      }
    }
  }
  .crud-icon > svg {
    fill: $color-label;
  }
}

.field-required {
  margin-left: 3px;
  font-weight: bold;
  color: $color-red;
}
