/*
  evolutility-ui-react : many-cards
*/
@import '../../variables';

.evol-cards-body {/*
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;*/
  width: 100%;
  
  > .panel {
    float: left;
    //flex-grow: 1;
    position: relative;
    height: 182px;
    width: 240px;
    min-width: 240px;
    margin: 5px;
    padding: 2px 10px 10px;
    @include border-radius(10px);
    overflow: auto;
    
    .img-thumbnail{
      padding: 0 !important;
    }
    > div{
      > h4{
        margin-bottom: 12px;
        @include ellipsis();
      }
      > label{
        width: $golden-ratio-small;
        @include ellipsis();
        vertical-align: top;
        font-weight: 300;
      }
      > div{
        display: inline-block;
        padding-right:5px;
        width: $golden-ratio-big;
        vertical-align: top;
        > a{
          display: inline-block;
          @include ellipsis();
          width: 100%;
        }
      }
      > img{
        margin-top:5px;
      }
    }
  }
}

.card-fld-center{
  text-align: center;
}