/*
  evolutility-ui-react : many-cards
*/
@import '../../variables';

.evol-cards-body {/*
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;*/
  width: 100%;
  
  > .panel {
    float: left;
    //flex-grow: 1;
    position: relative;
    height: 182px;
    width: 240px;
    min-width: 240px;
    margin: 5px;
    padding: 2px 10px 10px;
    overflow: auto;
    
    &:hover{
      border-color: $color-border-hover;
      .card-actions{
        //display: block;
        width: 58px;
      }
    }
    .card-actions{
      z-index: 50;
      //display: none;
      position: absolute;
      top: 0;
      right: -10px;
      width: 2px;
      padding: 0 4px 4px 4px;
      background-color: white;
      border: 1px solid white;
      border-left-color: $color-border;
      border-bottom-color: $color-border;
      border-bottom-left-radius: 6px;
      -webkit-transition: width $ease-time ease $delay-time;
      -moz-transition: width $ease-time ease $delay-time;
      -o-transition: width $ease-time ease $delay-time;
      transition: width $ease-time ease $delay-time;
      @include icons-actions();
      i{
        margin: 5px 0 0 0;
      }
      background-color: white;
    }
    .img-thumbnail{
      padding: 0 !important;
    }
    > div{
      > h4{
        margin-bottom: 12px;
        @include ellipsis();
      }
      > label{
        width: $golden-ratio-small;
        @include ellipsis();
        vertical-align: top;
        font-weight: 300;
      }
      > div:not(.card-actions){
        display: inline-block;
        padding-right: 5px;
        width: $golden-ratio-big;
        vertical-align: top;
        > a {
          display: inline-block;
          @include ellipsis();
          width: 100%;
        }
      }
      > img{
        margin-top:5px;
      }
    }
  }
}

.card-fld-center{
  margin-top: 5px;
  text-align: center;
}