/*
  evolutility-ui-react : many-list
*/
@import '../../variables';

.evol-many-list{
  .alignR {
    text-align: right;
  }
  > div {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .table{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    td{
      position: relative;
    }
    th{
      position: relative;
      font-weight: $weight-label !important;
      background-color: $toolbar-background-color;
      i{
        position: absolute;
        right: 5px;
        top: 12px;
        color: $color-border;
      }
    }
    //input, textarea{
    //  min-width:200px;
    //}
    img{
      max-height: 60px;
      padding:0;
    }
  }
  .main{
    th{
      cursor: pointer;
      &:hover{
        color: #0099cc;
      }
    }
  }
  .nobr{
    white-space: nowrap;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.list-new{
  border-top: 1px solid #ddd;
  padding: 20px 10px;
}
fieldset .table{
  border-bottom: none !important;
}

.nodata-list2{
  padding: 20px;
}