@import "../../../variables";

.evol-many-list {
  .align-right {
    text-align: right;
  }
  > div {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .table {
    margin-bottom: 0;
    th {
      position: -webkit-sticky;
      position: sticky;
      top: 49px;
      z-index: 2;
      white-space: nowrap;
      background-color: $bgcolor-header;
      svg {
        position: relative;
        top: 2px;
        fill: gray;
        height: 16px;
        width: 16px;
      }
    }
    td {
      position: relative;
    }
    .t-row-sel,
    .t-row-selector {
      max-width: 20px;
    }
    img {
      max-height: 60px;
      padding: 0;
    }
  }
  .main {
    th {
      cursor: pointer;
      &:hover {
        color: $color-icon-hover;
      }
    }
  }
  .nobr {
    max-width: 500px;
    @include ellipsis();
  }
  .td-check {
    padding-top: 0;
    padding-bottom: 0;
    > svg {
      height: 16px;
      width: 16px;
    }
  }
}
.nodata {
  padding: 20px;
}
