@import "../../../variables";

.evol-many {
  .evol-loading {
    margin: 10% auto 20% auto;
  }
}
.e-icon {
  position: relative;
  top: -2px;
  margin-right: 6px !important;
}
.lov-icon {
  margin-right: 5px;
}
