@import "../../../variables";

.evol-many {
  .evol-loading {
    margin: 10% auto 20% auto;
  }
}
.e-icon {
  position: relative;
  top: -2px;
  margin-right: 6px !important;
  height: $icon-size;
  width: $icon-size;
}
.lov-icon {
  margin-right: 5px;
}

.td-check > svg {
  max-width: 20px;
  max-height: 20px;
}
