@import '../../variables';

// view Stats
.weekupdates{
	margin-left: 10px;

}
.numItemList > div {
	margin-left:10px;
	display: inline-block;
	margin-right: 20px;
	min-width: 100px;
}
.stat-fn{
	display: block;
	width: 80px;
}
.stat-label{
	margin-bottom: 10px;
}
.stat-field{
	line-height: 30px;
	> span {
		display: inline-block;
		color: $grey-color;
		min-width: 80px;
		margin-right: 7px;
	}
}