@import "../../../variables";

$chart-width: 300px;
$label-width: 270px;
$label2-width: 100px;

.evol-stats {
  .chart-card {
    display: block;
    margin-top: 10px;
    min-width: 200px;
    border: none;
  }
  .evo-label {
    margin-bottom: 7px;
  }
  .label-count {
    margin-bottom: 10px;
  }
  .field-range {
    width: 100%;
    display: flex;
    gap: 5px;
    align-content: center;
    margin: 20px 0 0;
  }
}
.stat-field-title {
  margin-bottom: 15px;
  color: $color-text;
}
.stat-field-id {
  color: grey;
  position: absolute;
  top: 18px;
  right: 20px;
}
.stats-fields {
  @include flex-holder();
  gap: $gap;
  .f-stats {
    flex: 1 1 0px;
    flex-grow: 1;
    position: relative;
    @include flex-item();
    min-width: 340px;
    padding: 10px 20px;
    .stat-values > div {
      margin-bottom: 10px;
    }
  }
}
.stat-chart-holder {
  border-top: $border;
}
.weekupdates {
  margin-left: 10px;
}
.stat-fn {
  display: block;
}
