$text-font-size: 16px;
$background-color: white;
$almostwhite-color: #f0f0f0;
$almostblack-color: #0d0d0d;
$grey-color: silver;
// base
$color-text: $almostblack-color;
$color-label: grey;
$color-title: #428bca;
$color-cool:#92cddc;
$color-border: silver;
$color-disabled:silver;

$color-blue1: #259DCB;
$color-red: #b94a48;

// responsive design
$screen1: 500px;
$screen2: 900px;

// golden ratio
$golden-ratio-big: 62%;
$golden-ratio-small: 38%;

// top nav bar including toolbar
$color-nav: white; //white; //#337ab7; //#E0F7FA;
$color-nav-hover: #BBDEFB; //#23527c;//#FFE0B2;
$color-nav-active: #E0F7FA;
$color-icon-hover: #0066ff;
$color-icon: #428bca;

$table--header-background-color: #fbfbfb;

$toolbar-background-color: #fbfbfb;
$toolbar-border-color: #bce8f1;

$field-h-spacing: 16px;

// labels
$weight-label: 500;

// page footer
$color-text-footer: silver;
$color-panel-footer: #fafafa;

// mixins
@mixin border-radius($r){
	border-radius: $r;
	-moz-border-radius: $r;
	-webkit-border-radius: $r;
}
@mixin flex-holder(){
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	flex-wrap: wrap;
}
@mixin flex-item(){
	box-sizing: border-box;
	flex-grow: 1;
}

@mixin panel-top-bar(){
	width:100%;
	padding: 8px;
	//border-bottom: solid 1px $toolbar-border-color;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: $toolbar-background-color;
	> select{
		display: inline-block;
		width: auto;
	}
	>label{
		margin: 2px 10px;
		&:first-child{
			margin-left: 0;
		}
	}
}

@mixin ellipsis(){
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
