@import "../../../variables";

$bgcolor-menu-hover: #1e88e5;
$nav-width: 190px;
$nav-width-collapsed: 50px;
$nav-trans-time: 0.1s;
$topbar-height: 50px;

.evo-sidebar {
  position: fixed;
  left: 0;
  top: $topbar-height;
  height: calc(100% - $topbar-height);
  width: $nav-width;
  z-index: 5;
  padding: 10px 0 0;
  overflow: hidden;
  transition: width $nav-trans-time ease;
  color: white;
  border-right: 1px solid #e0e0e0;
  background: #1976d2 url("./spirals.png");
  user-select: none;
  -moz-user-select: none;
  &:hover {
    overflow-y: auto;
  }
  a {
    display: block;
    color: white !important;
    text-decoration: none !important;
    &:hover,
    &.active {
      text-decoration: none;
    }
  }
  div {
    line-height: 22px;
    padding: 7px;
    font-weight: bold;
    font-size: 16px;
  }
  ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    > li {
      position: relative;
      font-weight: normal;
      font-size: 14px;
      margin: 0 0 4px 0;
    }
  }
  > ul {
    padding: 0 4px !important;
    > li {
      > div > a > img {
        position: relative;
        top: -2px;
        margin-right: 12px;
      }
    }
  }
  .x-icons {
    text-align: right;
    width: 0;
    overflow: hidden;
    transition: width $ease-time ease 0s;
    position: absolute;
    top: 7px;
    right: -5px;
    height: 20px;
    font-size: 12px;
    padding: 0;
    z-index: 100;
    > a {
      display: inline-block;
      &:hover {
        > svg {
          fill: orange;
        }
      }
      > svg {
        fill: white;
        height: 16px;
        width: 16px;
        margin: 0 2px;
      }
    }
  }

  .sections-links {
    a {
      overflow: hidden;
      white-space: nowrap;
      > img {
        margin-right: 10px;
      }
    }
    > a {
      font-weight: 600;
      min-width: 40px;
      margin-bottom: 20px;
      padding: 5px;
      border-radius: 10px;
      &:last-child {
        margin-bottom: 5px;
      }
      &:hover {
        background-color: $bgcolor-menu-hover;
      }
    }
  }
}

.page-content {
  position: relative;
  flex: 1 0 auto;
  margin-left: $nav-width;
  padding: 10px 30px;
  margin-top: $topbar-height;
  min-height: 90%;
  transition: margin-left $nav-trans-time ease;
}

.nav-l2 {
  > li {
    border-radius: 10px;
    padding-left: 5px;
    > a {
      padding: 5px;
      img {
        min-width: 16px;
        min-height: 16px;
      }
    }
    transition: background-color 0.2s;
    &:hover,
    &.active {
      background-color: $bgcolor-menu-hover;
      color: white;
      > .x-icons {
        display: inline-block;
        width: 65px;
        margin-right: 10px;
        transition: width $ease-time ease $delay-time2;
      }
    }
  }
}

.nav-toggle {
  position: absolute;
  top: 0;
  right: -2px;
  padding: 0;
  z-index: 10;
  cursor: pointer;
  > svg {
    width: 30px;
    transition: transform 0.5s ease 0.1s;
    transform: rotate(90deg);
  }
  &:hover {
    > svg {
      fill: orange;
    }
  }
}

.side-collapsed {
  > .evo-sidebar {
    width: $nav-width-collapsed;
    > .nav-toggle {
      > svg {
        transform: rotate(-90deg);
      }
    }
    .x-icons {
      display: none !important;
    }
    a > span {
      display: none;
    }
  }
  > .page-content {
    margin-left: $nav-width-collapsed;
  }
}

/* skip nav #508 */
a.skipNav {
  left: -800px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -100;
}
#afterNav {
  height: 0;
  width: 0;
}
