@import "../../../../variables";

$label-width: 270px;
$label2-width: 100px;

.evol-stats {
  .evo-label {
    margin-bottom: 7px;
  }
  .label-count {
    margin-bottom: 10px;
  }
}
.stat-field-title {
  margin: 10px 0 15px;
  color: $color-text;
  font-size: 20px;
  > span {
    font-weight: 300;
  }
}
.stat-field-id {
  color: $color-text-secondary;
  position: absolute;
  top: 18px;
  right: 20px;
}
.stats-fields {
  @include flex-holder();
  gap: $gap;
  .f-stats {
    flex: 1 1 0px;
    flex-grow: 1;
    position: relative;
    @include flex-item();
    min-width: 340px;
    padding: 10px 20px;
    .stat-values > div {
      margin-bottom: 10px;
      > span {
        margin-left: 10px;
        color: $color-text-secondary;
      }
      > label {
        margin-right: $gap;
        &:after {
          content: ":";
        }
      }
    }
  }
}
