.evol-activity {
  > div {
    display: flex;
    > a {
      min-width: 220px;
    }
    > div {
      display: inline-block;
      margin-left: 20px;
      color: silver;
      &.visits{
        color: grey;
        min-width: 70px;
      }
    }
  }
}