@import "../../../variables";

.evo-badge {
  display: inline-block;
  height: 28px;
  min-width: 28px;
  padding: 5px 10px;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 400;
  margin: 0 5px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.alert-default {
  color: black;
  background-color: $bgcolor-badge;
  border-color: silver;
}
