@import "variables";

.err404 {
  position: relative;
}

.center404 {
  position: relative;
  margin: 40px;
  text-align: center;
}
.center404 > p {
  margin: 10px;
}
.bad-route {
  color: $color-text-secondary;
}
