@import "./variables";

.app {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $bgcolor-main;
}

img {
  border: 0;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: $color-link;
  &:hover,
  &:focus {
    color: $color-link-hover;
    text-decoration: underline;
  }
}
table {
  border-spacing: 0;
}
tr,
img {
  page-break-inside: avoid;
}
.list-tags {
  > div {
    border: $border;
    border-radius: 8px;
    padding: 2px 7px;
    margin: 0 5px 0 0;
    width: auto !important;
    display: inline-block;
  }
}
label {
  color: $color-label;
  font-size: $label-font-size;
}

.cols-2 {
  @include flex-holder();
  > div {
    margin-right: 10px;
    @include flex-item();
    flex: 1 1 0px;
  }
}

.table {
  background-color: $bgcolor-background;
  border-bottom: $border;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  > thead > tr > th,
  > tbody > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: $border;
  }
  > thead > tr > th {
    text-align: left;
    background-color: $bgcolor-header;
    border-bottom: $border;
  }
  > tbody > tr:first-child > td {
    border-top: none;
  }
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

@media print {
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  .table {
    border-collapse: collapse !important;
    td,
    th {
      background-color: #fff !important;
    }
  }
  .evo-toolbar,
  .noprint {
    display: none !important;
  }
}

.Toastify__toast {
  margin-bottom: 4px !important;
  min-height: 42px !important;
}
.Toastify__toast-container {
  width: 260px !important;
}

.ReactModal__Overlay {
  z-index: 110;
}
