[data-entity="comics"] .evol-cards-body > div{
	height: 510px;
}
[data-entity="contact"] .evol-cards-body > div{
	height: 140px;
}
[data-entity="todo"] .evol-cards-body > div {
	height: 152px;
}
[data-entity="winecellar"] .evol-cards-body > div {
	height: 270px;
}
[data-entity="winetasting"] .evol-cards-body > div {
	height: 200px;
}
[data-entity="restaurant"] .evol-cards-body > div {
	height: 130px;
}
[data-entity="test"] .evol-cards-body > div {
	height: 320px;
}
