// For each object card height can be set here

[data-entity="comics"] {
  .evol-cards-body > div {
    height: 560px;
  }
}
[data-entity="contact"] .evol-cards-body > div {
  height: 180px;
}
[data-entity="todo"] .evol-cards-body > div {
  height: 152px;
}
[data-entity="winecellar"] .evol-cards-body > div {
  height: 270px;
}
[data-entity="winetasting"] .evol-cards-body > div {
  height: 200px;
}
[data-entity="restaurant"] .evol-cards-body > div {
  height: 130px;
}
[data-entity="test"] .evol-cards-body > div {
  height: 320px;
}

[data-entity="artist"] .evol-cards-body > div {
  height: 273px;
}
[data-entity="album"] .evol-cards-body > div {
  height: 302px;
}
[data-entity="track"] .evol-cards-body > div {
  height: 130px;
}
