@import "./components/variables";

html {
  height: 100%; // IE
}
body {
  margin: 0;
  padding: 0;
  width: 100%; // IE
  height: 100%; // IE
  font-size: $text-font-size;
  font-family: "Open Sans", sans-serif;
}
p,
legend {
  font-size: 16px;
}
h1,
h2,
h3 {
  font-weight: 300;
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 16px;
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.loading-evol {
  margin: 100px 20px 20px 20px;
}
.w-timestamp {
  padding: 10px 20px;
}
/*
.form-range {
	min-height: 70px;
  max-width: 300px;
  padding: 30px 10px 10px;
  margin: 10px 30px;

  @media (min-width: 800px) {
    max-width: 60%;
  }

}
.input-range__slider {
	border-radius:0 !important;
	width:.5rem !important;
}
.input-range__label{
	font-size: 16px !important;
	margin: 20px 0;
}
*/

/* TODO: for now here */

.blue_title {
  background-color: #b3e5fc;
  color: white;
  padding: 40px;
}

.black {
  color: black !important;
}
.fakeLink {
  cursor: pointer;
}

.mr10 {
  margin-right: 10px;
}

.grey {
  color: silver;
}
.navy {
  color: navy;
  font-weight: 300;
}
.clearer {
  clear: both;
}
.pc50 {
  width: 50%;
}
.pc100 {
  width: 100%;
}
.ReactModal__Overlay {
  z-index: 110;
}

.btn {
  font-size: 16px;
  border-radius: 20px;
  padding: 7px 20px;

}

.extlink:after {
  content: " "
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}

@media print {
  // things to hide
  .evol-buttons,
  .evo-toolbar,
  .evo-noprint {
    display: none !important;
  }
}
.btn > svg {
  margin-right: 10px;
}
