@import "./variables";

html {
  height: 100%; // IE
  font-size: 14px; // datepicker
}
body {
  margin: 0;
  padding: 0;
  width: 100%; // IE
  height: 100%; // IE
  font-size: $text-font-size;
  font-family: "Open Sans", sans-serif;
  color: $color-almostblack;
}
p {
  font-size: $text-font-size;
}
h1 {
  margin-bottom: 30px;
}
h2,
h3 {
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 16px;
}

/* TODO: for now here */

.black {
  color: $color-almostblack !important;
}
.grey {
  color: silver;
}

.extlink:after {
  content: " "
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}
