$text-font-size: 16px;
$background-color: white;
$almostwhite-color: #f0f0f0;
$almostblack-color: #0d0d0d;
$grey-color: silver;
$bgcolor-header: #fbfbfb;
$bgcolor-badge: #ebebeb;

$color-text: $almostblack-color;
$color-label: grey;
$color-border: #ddd;
$color-border-hover: silver;
$color-disabled: silver;

$color-panel: #f7f7f7;
$bgcolor-panel-header: $bgcolor-header;
$bgcolor-panel-footer: $bgcolor-header;

$color-btn-primary: #337ab7;
$color-btn-primary-border: #2e6da4;

$color-icon-active: $color-border;

$color-blue1: #259dcb;
$color-red: #b94a48;

$border: solid 1px $color-border;
$gap: 10px;

// golden ratio
$golden-ratio-big: 62%;
$golden-ratio-small: 38%;

// top nav bar including toolbar
$color-nav: #bbdefb; //#23527c;//#FFE0B2;
$color-nav-hover: white; //#337ab7; //#E0F7FA;
$color-nav-active: #e0f7fa;
$color-icon-hover: #0d47a1;
$color-icon: #428bca;
$color-help-icon: silver;
$ease-time: 0.2s;
$delay-time: 0.2s;
$delay-time2: 0.6s;

$field-h-spacing: 16px;

// labels
$weight-label: 500;

// page footer
$color-text-footer: #607d8b;
$bgcolor-text-footer: #f8f8f8;

$radius: 12px;
$media-small: 600px;

// mixins
@mixin flex-holder() {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  flex-wrap: wrap;
  // width: 100%;
}
@mixin flex-item() {
  box-sizing: border-box;
  flex-grow: 1;
}
@mixin ellipsis() {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@mixin icons-actions {
  svg {
    fill: $color-icon;
    cursor: pointer;
    &:hover {
      fill: $color-icon-hover;
    }
    &.active {
      fill: black;
      cursor: default;
    }
  }
  &.sort {
    position: absolute;
    top: 30px;
    right: 5px;
  }
}
