@import "../../../variables";

.timestamps {
  display: block;
  width: 100%;
  margin: 20px 0 0 10px;
  color: $color-label;
  font-size: $label-font-size;
  > div {
    > label {
      margin-right: 5px;
      &:after {
        content: ":";
      }
    }
  }
}
